Import sqlite3

In [3]:
import sqlite3

Create a table

In [4]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute('''CREATE TABLE customers(
    first_name  text,
    last_name   text,
    email   text
)''')


con.commit()
con.close()

Query the table and return all records.

In [ ]:
def show_all():
    '''#Connect to database
    con = sqlite3.connect('customor.db')  

    #Create a cursor
    c = con.cursor()'''
    #Query the database
    c.execute("""SELECT rowid, * FROM customers""")
    items = c.fetchall()

    for i in items:
        print(i)

    # Commit our command
    con.commit()

    #Close our connection
    con.close()

Insert a records in the table

In [41]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute('''INSERT INTO customers VALUES('Talha','Akhtar','talha@gmail.com')''')
con.commit()
con.close()

Insert multiple records in the table

In [8]:
con = sqlite3.connect('customor.db')
c = con.cursor()
many_customers=[
    ('Zaki','Akhtar','zaki@gmail.com'),
    ('Sameer','Akhtar','sameer@gmail.com'),
    ('Khadija','Khatoon','khadija@gmail.com'),
]
c.executemany('''INSERT INTO customers VALUES(?,?,?)''',many_customers)
con.commit()
con.close()

Retreive all data from the table

In [26]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT * FROM customers")
items = c.fetchall()
for i in items:
    print(i)
con.commit()
con.close()

('Talha', 'Akhtar', 'talha@gmail.com')
('Zaki', 'Akhtar', 'zaki@gmail.com')
('Sameer', 'Akhtar', 'sameer@gmail.com')
('Khadija', 'Khatoon', 'khadija@gmail.com')
('Kamil', 'Akhter', 'kamil@gmail.com')

Retreive one row from the table

In [16]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT * FROM customers")
item = c.fetchone()
print(item)
con.commit()
con.close()

('Talha', 'Akhtar', 'talha@gmail.com')

Retreive many rows from the table

In [18]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT * FROM customers")
items = c.fetchmany(3)
for i in items:
    print(i)
con.commit()
con.close()

('Talha', 'Akhtar', 'talha@gmail.com')
('Zaki', 'Akhtar', 'zaki@gmail.com')
('Sameer', 'Akhtar', 'sameer@gmail.com')

Formatting the name and email

In [29]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT * FROM customers")
items = c.fetchmany(5)
print('Name    '+'\t'+'email')
print('--------'+'\t'+'--------')
for i in items:
    print(i[0]+' '+i[1]+'\t'+i[2])
con.commit()
con.close()

Name    	email
--------	--------
Talha Akhtar	talha@gmail.com
Zaki Akhtar	zaki@gmail.com
Sameer Akhtar	sameer@gmail.com
Khadija Khatoon	khadija@gmail.com
Kamil Akhter	kamil@gmail.com

Creating a primary key using rowid

In [27]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT rowid, * FROM customers")
items = c.fetchall()
for i in items:
    print(i)
con.commit()
con.close()

(1, 'Talha', 'Akhtar', 'talha@gmail.com')
(2, 'Zaki', 'Akhtar', 'zaki@gmail.com')
(3, 'Sameer', 'Akhtar', 'sameer@gmail.com')
(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')
(5, 'Kamil', 'Akhter', 'kamil@gmail.com')

Retreiving the data from the database using 'WHERE' clause

In [30]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE '%ar'")
items = c.fetchall()
for i in items:
    print(i)
con.close()

(1, 'Talha', 'Akhtar', 'talha@gmail.com')
(2, 'Zaki', 'Akhtar', 'zaki@gmail.com')
(3, 'Sameer', 'Akhtar', 'sameer@gmail.com')

Update database

In [33]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute('''UPDATE customers SET  
             last_name = "Akhtar" 
             WHERE first_name = "Kamil"''')
c.execute("SELECT rowid, * FROM customers ")
items = c.fetchall()
for i in items:
    print(i)

con.close()

(1, 'Talha', 'Akhtar', 'talha@gmail.com')
(2, 'Zaki', 'Akhtar', 'zaki@gmail.com')
(3, 'Sameer', 'Akhtar', 'sameer@gmail.com')
(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')
(5, 'Kamil', 'Akhtar', 'kamil@gmail.com')

DELETE a record

In [36]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute('''DELETE FROM customers WHERE rowid = 1''')
con.commit()

In [37]:
c.execute("SELECT rowid, * FROM customers ")
items = c.fetchall()
for i in items:
    print(i)

con.close()

(2, 'Zaki', 'Akhtar', 'zaki@gmail.com')
(3, 'Sameer', 'Akhtar', 'sameer@gmail.com')
(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')
(5, 'Kamil', 'Akhter', 'kamil@gmail.com')

Order results

In [42]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC")
items = c.fetchall()
for i in items:
    print(i)

con.close()

(6, 'Talha', 'Akhtar', 'talha@gmail.com')
(5, 'Kamil', 'Akhter', 'kamil@gmail.com')
(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')
(3, 'Sameer', 'Akhtar', 'sameer@gmail.com')
(2, 'Zaki', 'Akhtar', 'zaki@gmail.com')

Query the database - AND

In [44]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE '%oon' AND first_name LIKE '%dija'")
items = c.fetchall()
for i in items:
    print(i)

con.close()

(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')

Query the database - OR

In [45]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE '%oon' OR rowid=6")
items = c.fetchall()
for i in items:
    print(i)

con.close()

(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')
(6, 'Talha', 'Akhtar', 'talha@gmail.com')

Limiting the records

In [47]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("""SELECT rowid, * 
             FROM customers 
             WHERE last_name LIKE '%oon' OR rowid=6 
             ORDER BY rowid DESC
             LIMIT 1
             """)
items = c.fetchall()
for i in items:
    print(i)

con.close()

(6, 'Talha', 'Akhtar', 'talha@gmail.com')

In [53]:
con = sqlite3.connect('customor.db')
c = con.cursor()
c.execute("""SELECT rowid, * 
             FROM customers 
             WHERE last_name LIKE '%oon' OR rowid=6 
             ORDER BY rowid 
             LIMIT 1
             """)
items = c.fetchall()
for i in items:
    print(i)

con.close()

(4, 'Khadija', 'Khatoon', 'khadija@gmail.com')

Drop a table

In [63]:
con = sqlite3.connect('customor_2.db')
c = con.cursor()
c.execute('''CREATE TABLE customers(
    first_name  text,
    last_name   text,
    email   text
)''')
con.commit()

In [64]:
customer_2_many = [
    ('Md','Ashfaque','ashfaque@gmail.com'),
    ('Md','Zafar','zafar@gmail.com'),
    ('Md','Junaid','junaid@gmail.com')
]
c.executemany('''INSERT INTO customers VALUES(?,?,?)''',customer_2_many)

con.commit()

In [65]:
c.execute("""SELECT rowid, * 
             FROM customers 
             
             """)
items = c.fetchall()
for i in items:
    print(i)

(1, 'Md', 'Ashfaque', 'ashfaque@gmail.com')
(2, 'Md', 'Zafar', 'zafar@gmail.com')
(3, 'Md', 'Junaid', 'junaid@gmail.com')

In [66]:
c.execute('''DROP TABLE customers''')
con.commit()

In [67]:
c.execute("""SELECT rowid, * 
             FROM customers 
             
             """)
items = c.fetchall()#check for if the table exists
for i in items:
    print(i)

OperationalError: no such table: customers

In [68]:
con.close()